@model ProductVM

<div class="card shadom border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3"></div>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-primary py-2"> @(Model.Product.Id!=0?"Update":"Create") Product</h2>
        </div>
    </div>
</div> 
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden/>
            <div class="border p-3 shadow-sm">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.Title" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.Title" class="ms-2"></label>
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
          </div>
                <div class="py-2 col-12">
                <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                <textarea asp-for="Product.Description" class="form-control border-0 shadow-sm"></textarea>
                    

                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.SiteAge" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.SiteAge" class="ms-2"></label>
                    <span asp-validation-for="Product.SiteAge" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.Location" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.Location" class="ms-2"></label>
                    <span asp-validation-for="Product.Location" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.Seller" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.Seller" class="ms-2"></label>
                    <span asp-validation-for="Product.Seller" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.Industry" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.Industry" class="ms-2"></label>
                    <span asp-validation-for="Product.Industry" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.MonthlyNetProfit" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.MonthlyNetProfit" class="ms-2"></label>
                    <span asp-validation-for="Product.MonthlyNetProfit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input asp-for="Product.Price" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.Price" class="ms-2"></label>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow-sm">
                        <option disabled selected>--Selected Category</option>
                    </select>
                    <label asp-for="Product.CategoryId" class="ms-2"></label>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12 d-flex align-items-center">
                    <input type="file" class="form-control border-0 shadow-sm">
                    <label asp-for="Product.ImageUrl" class="ms-2"></label>
                    
                </div>
          <br />
          <div class="row pt-2">
            <div class="col-6 col-md-3">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-success form-control">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    }
                
            </div>
            <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">
                    Back to list
                </a>
            </div>
          </div>
          </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons   lists   table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @Html.Partial("__ValidationScriptsPartial")
}